/* Reset de estilos básicos */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* Encabezado y menú */
header {
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
}

nav li {
    margin: 0 10px;
}

nav a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;
}

nav a:hover {
    color: #ff9900;
}

/* Contenido principal */
section {
    flex: 2;
    padding: 20px;
    box-sizing: border-box;
}

article {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #fff;
}

/* Barra lateral */
aside {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
}

aside div {
    margin-bottom: 20px;
}

aside img {
    max-width: 100%;
}

/* Pie de página */
footer {
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    clear: both;
}
h1{
    text-align: center;
}
img{
    width: 100px;
    height: 100;
    float: left ;
    display: hidden;
    
}